{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint", "no-type-assertion"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": "off",
    "no-empty": "off",
    "@typescript-eslint/semi": ["error"],
    "@typescript-eslint/member-delimiter-style": "error",
    "@typescript-eslint/explicit-member-accessibility": "error",
    "@typescript-eslint/no-empty-interface": "off",
    "no-type-assertion/no-type-assertion": "error"
  }
}